@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tailwindcss';

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  /* GRAYSCALE */
  --color-Grey-05: #ffffff;
  --color-Grey-10: #f5f5f5;
  --color-Grey-20: #e3e3e3;
  --color-Grey-30: #d0d0d0;
  --color-Grey-40: #b9b9b9;
  --color-Grey-50: #a8a8a8;
  --color-Grey-60: #9a9a9a;
  --color-Grey-70: #606060;
  --color-Grey-80: #404040;
  --color-Grey-90: #1f1f1f;

  /* BG GRAYSCALE */
  --color-Bgrey-10: #f6f7fb;
  --color-Bgrey-20: #d1d7e4;
  --color-Bgrey-30: #adb7cb;
  --color-Bgrey-40: #7e8aa3;
  --color-Bgrey-50: #3a4254;

  /* PRIMARY */
  --color-Blue-05: #edf5fe;
  --color-Blue-10: #d1e7ff;
  --color-Blue-20: #95c6ff;
  --color-Blue-30: #65adff;
  --color-Blue-40: #1f83f8;
  --color-Blue-50: #006deb;
  --color-Blue-60: #0059bf;
  --color-Blue-70: #004ca4;
  --color-Blue-80: #003e86;
  --color-Blue-90: #002856;

  /* OTHER */
  --color-HITUP_Blue: #007cee;
  --color-HITUP_Red: #fb5135;
  --color-HITUP_Orange: #fc9127;

  /* SYSTEM */
  --color-Error: #e41515;

  /* TYPOGRAPHY */
  --color-foreground-default: #000000;
  --color-foreground-secondary: #ff6c6c;
}

/* @font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-display: swap;
  src: url('/src/assets//fonts/Pretendard-Regular.subset.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-display: swap;
  src: url('/src/assets//fonts/Pretendard-Medium.subset.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-display: swap;
  src: url('/src/assets//fonts/Pretendard-SemiBold.subset.woff2')
    format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-display: swap;
  src: url('/src/assets//fonts/Pretendard-Bold.subset.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 800;
  font-display: swap;
  src: url('/src/assets//fonts/Pretendard-ExtraBold.subset.woff2')
    format('woff2');
} */

@theme {
  --font-sans:
    'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  --color-white: var(--color-white);
  --color-black: var(--color-black);

  /* GRAYSCALE */
  --color-Grey-05: var(--color-Grey-05);
  --color-Grey-10: var(--color-Grey-10);
  --color-Grey-20: var(--color-Grey-20);
  --color-Grey-30: var(--color-Grey-30);
  --color-Grey-40: var(--color-Grey-40);
  --color-Grey-50: var(--color-Grey-50);
  --color-Grey-60: var(--color-Grey-60);
  --color-Grey-70: var(--color-Grey-70);
  --color-Grey-80: var(--color-Grey-80);
  --color-Grey-90: var(--color-Grey-90);

  /* BG GRAYSCALE */
  --color-Bgrey-10: var(--color-Bgrey-10);
  --color-Bgrey-20: var(--color-Bgrey-20);
  --color-Bgrey-30: var(--color-Bgrey-30);
  --color-Bgrey-40: var(--color-Bgrey-40);
  --color-Bgrey-50: var(--color-Bgrey-50);

  /* PRIMARY */
  --color-Blue-05: var(--color-Blue-05);
  --color-Blue-10: var(--color-Blue-10);
  --color-Blue-20: var(--color-Blue-20);
  --color-Blue-30: var(--color-Blue-30);
  --color-Blue-40: var(--color-Blue-40);
  --color-Blue-50: var(--color-Blue-50);
  --color-Blue-60: var(--color-Blue-60);
  --color-Blue-70: var(--color-Blue-70);
  --color-Blue-80: var(--color-Blue-80);
  --color-Blue-90: var(--color-Blue-90);

  /* OTHER */
  --color-HITUP_Blue: var(--color-HITUP_Blue);
  --color-HITUP_Red: var(--color-HITUP_Red);
  --color-HITUP_Orange: var(--color-HITUP_Orange);

  /* SYSTEM */
  --color-Error: var(--color-Error);

  /* TYPOGRAPHY */
  --color-foreground-default: var(--color-foreground-default);
  --color-foreground-secondary: var(--color-foreground-secondary);
}

/* sweet alert 커스텀 */

.swal2-popup.swal2-modal.swal2-show {
  border-radius: 12px !important;
  padding: 0 !important;
  width: 100% !important;
  max-width: 720px !important;
}

.swal2-title {
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  text-transform: capitalize;

  padding: 60px 16px;
}

.swal2-actions {
  margin: 0;
  padding: 16px 20px;
}

.swal2-confirm {
  display: flex;
  height: 44px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;

  border-radius: 16px;
  background: var(--HITUP_BLUE, #007cee);

  color: var(--WHITE, #fff);
  /* Heading3 - 18 Semi */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.45px;
  text-transform: capitalize;

  flex: 1 !important;
}

.swal2-cancel {
  /* border-radius: 25px !important; */
  flex: 1 !important;
  border-radius: 16px;
  border: 1px solid var(--HITUP_BLUE, #007cee);
  background: #fff;
  display: flex;
  height: 44px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;

  color: var(--HITUP_BLUE, #007cee);
  /* Heading3 - 18 Semi */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.45px;
  text-transform: capitalize;
}

/* hover 속성 */
.swal2-confirm:hover {
  background: #0060c0; /* hover 시 더 진한 파란색 */
  transform: translateY(-1px);
}

.swal2-cancel:hover {
  background: var(--HITUP_BLUE, #007cee);
  color: var(--WHITE, #fff);
  transform: translateY(-1px);
}

/* antd */
.ant-form-item {
  margin-bottom: 0 !important;
  min-height: 50px !important;
}
