@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tailwindcss';

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  /* GRAYSCALE */
  --color-Grey-05: #ffffff;
  --color-Grey-10: #f5f5f5;
  --color-Grey-20: #e3e3e3;
  --color-Grey-30: #d0d0d0;
  --color-Grey-40: #b9b9b9;
  --color-Grey-50: #a8a8a8;
  --color-Grey-60: #9a9a9a;
  --color-Grey-70: #606060;
  --color-Grey-80: #404040;
  --color-Grey-90: #1f1f1f;

  /* BG GRAYSCALE */
  --color-Bgrey-10: #f6f7fb;
  --color-Bgrey-20: #d1d7e4;
  --color-Bgrey-30: #adb7cb;
  --color-Bgrey-40: #7e8aa3;
  --color-Bgrey-50: #3a4254;

  /* PRIMARY */
  --color-Blue-05: #edf5fe;
  --color-Blue-10: #d1e7ff;
  --color-Blue-20: #95c6ff;
  --color-Blue-30: #65adff;
  --color-Blue-40: #1f83f8;
  --color-Blue-50: #006deb;
  --color-Blue-60: #0059bf;
  --color-Blue-70: #004ca4;
  --color-Blue-80: #003e86;
  --color-Blue-90: #002856;

  /* OTHER */
  --color-HITUP_Blue: #007cee;
  --color-HITUP_Red: #fb5135;
  --color-HITUP_Orange: #fc9127;

  /* SYSTEM */
  --color-Error: #e41515;

  /* TYPOGRAPHY */
  --color-foreground-default: #000000;
  --color-foreground-secondary: #ff6c6c;
}

/* @font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-display: swap;
  src: url('/src/assets//fonts/Pretendard-Regular.subset.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-display: swap;
  src: url('/src/assets//fonts/Pretendard-Medium.subset.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-display: swap;
  src: url('/src/assets//fonts/Pretendard-SemiBold.subset.woff2')
    format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-display: swap;
  src: url('/src/assets//fonts/Pretendard-Bold.subset.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 800;
  font-display: swap;
  src: url('/src/assets//fonts/Pretendard-ExtraBold.subset.woff2')
    format('woff2');
} */

@theme {
  --font-sans:
    'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  --color-white: var(--color-white);
  --color-black: var(--color-black);

  /* GRAYSCALE */
  --color-Grey-05: var(--color-Grey-05);
  --color-Grey-10: var(--color-Grey-10);
  --color-Grey-20: var(--color-Grey-20);
  --color-Grey-30: var(--color-Grey-30);
  --color-Grey-40: var(--color-Grey-40);
  --color-Grey-50: var(--color-Grey-50);
  --color-Grey-60: var(--color-Grey-60);
  --color-Grey-70: var(--color-Grey-70);
  --color-Grey-80: var(--color-Grey-80);
  --color-Grey-90: var(--color-Grey-90);

  /* BG GRAYSCALE */
  --color-Bgrey-10: var(--color-Bgrey-10);
  --color-Bgrey-20: var(--color-Bgrey-20);
  --color-Bgrey-30: var(--color-Bgrey-30);
  --color-Bgrey-40: var(--color-Bgrey-40);
  --color-Bgrey-50: var(--color-Bgrey-50);

  /* PRIMARY */
  --color-Blue-05: var(--color-Blue-05);
  --color-Blue-10: var(--color-Blue-10);
  --color-Blue-20: var(--color-Blue-20);
  --color-Blue-30: var(--color-Blue-30);
  --color-Blue-40: var(--color-Blue-40);
  --color-Blue-50: var(--color-Blue-50);
  --color-Blue-60: var(--color-Blue-60);
  --color-Blue-70: var(--color-Blue-70);
  --color-Blue-80: var(--color-Blue-80);
  --color-Blue-90: var(--color-Blue-90);

  /* OTHER */
  --color-HITUP_Blue: var(--color-HITUP_Blue);
  --color-HITUP_Red: var(--color-HITUP_Red);
  --color-HITUP_Orange: var(--color-HITUP_Orange);

  /* SYSTEM */
  --color-Error: var(--color-Error);

  /* TYPOGRAPHY */
  --color-foreground-default: var(--color-foreground-default);
  --color-foreground-secondary: var(--color-foreground-secondary);
}

/* sweet alert 커스텀 */

.swal2-confirm {
  background: var(--color-HITUP_Blue) !important;
  /* background: blue !important; */
  border: none !important;
  width: 150px !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  /* border-radius: 25px !important; */
  font-weight: bold !important;
  color: var(--color-white) !important;
}

.swal2-cancel {
  background: var(--color-black) !important;
  /* border-radius: 25px !important; */

  width: 150px !important;
}
